# Very Basic

In [1]:
print("Hello World!")

Hello World!

# Basic String Operations

In [4]:
print("Hello Universe")
print("Hello Universe".upper())
print("Hello Universe".lower())
print("Hello"+" "+"Universe")
print("Hello Universe".replace("Universe","Bangladesh"))

Hello Universe
HELLO UNIVERSE
hello universe
Hello Universe
Hello Bangladesh

# Basic Numerical Operations

In [17]:
x=50
y=60
z=x+y
print(z)

x=2.64
y=0.64

print(x+y)

k=9.66
p=100
l=7j

print(type(k))
print(type(p))
print(type(l))

110
3.2800000000000002
<class 'float'>
<class 'int'>
<class 'complex'>

# If Else Condition

In [27]:
x=5
y=5
if x == y:
    print("The numbers are same")
else:
    print("The numbers are not same")

The numbers are same

# For Loop

In [1]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

for number in numbers:
    if number == 237:
        break

    if number % 2 == 1:
        continue

    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

# If Else, While Loop & For Loop

In [3]:
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed")

0
1
2
3
4
count value reached 5
1
2
3
4

# Data Types

In [4]:
## Numbers

var1 = 1
var2 = 10

## Strings

str = 'Hello World!'

print (str)          
print (str[0])       
print (str[2:5])     
print (str[2:])      
print (str * 2)      
print (str + "TEST")

## Lists

list = [ 'abcd', 786 , 2.23, 'Nill', 70.2 ]
tinylist = [123, 'Nill']

print (list)          
print (list[0])       
print (list[1:3])      
print (list[2:])      
print (tinylist * 2)  
print (list + tinylist)

## Tuples

tuple = ( 'abcd', 786 , 2.23, 'Nill', 70.2  )
tinytuple = (123, 'Nill')

print (tuple)           
print (tuple[0])        
print (tuple[1:3])      
print (tuple[2:])       
print (tinytuple * 2)   
print (tuple + tinytuple)

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST
['abcd', 786, 2.23, 'Nill', 70.2]
abcd
[786, 2.23]
[2.23, 'Nill', 70.2]
[123, 'Nill', 123, 'Nill']
['abcd', 786, 2.23, 'Nill', 70.2, 123, 'Nill']
('abcd', 786, 2.23, 'Nill', 70.2)
abcd
(786, 2.23)
(2.23, 'Nill', 70.2)
(123, 'Nill', 123, 'Nill')
('abcd', 786, 2.23, 'Nill', 70.2, 123, 'Nill')